    </div>
    <div class="container sticky-bottom text-center my-4">
        <h6>© OOPArtDB</h6>
    </div>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/purify.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <!-- We are watching. -->
</body>
</html>